body {
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
}

.center {
  margin-top: 100px;
}

button {
  background-color: white;
  color: #ff4b5c;
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  background-color: #ff4b5c;
  color: white;
}